body {
    background-color: #f5f5f5; 
}

#canvas {
    width: 400px; height: 400px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0px 0px 12px -3px rgba(109, 109, 109, 0.45);
    display: grid;
}